# BOT

BOT_TOKEN=BOT_TOKEN

# ADMIN TELEGRAM ID

ADMIN_TELEGRAM_ID=123456789

# GEMINI API

GEMINI_API_KEY = GEMINI_API_KEY

# DATABASE

DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_HOST=DB_HOST
DB_PORT=DB_PORT
DB_NAME=DB_NAME